# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
将删除 .idea/
将删除 hadoop-assemblies/hadoop-assemblies.iml
将删除 hadoop-assemblies/target/
将删除 hadoop-client/hadoop-client.iml
将删除 hadoop-client/target/
将删除 hadoop-common-project/hadoop-annotations/hadoop-annotations.iml
将删除 hadoop-common-project/hadoop-annotations/target/
将删除 hadoop-common-project/hadoop-auth-examples/hadoop-auth-examples.iml
将删除 hadoop-common-project/hadoop-auth-examples/target/
将删除 hadoop-common-project/hadoop-auth/hadoop-auth.iml
将删除 hadoop-common-project/hadoop-auth/target/
将删除 hadoop-common-project/hadoop-common-project.iml
将删除 hadoop-common-project/hadoop-common/hadoop-common.iml
将删除 hadoop-common-project/hadoop-common/src/test/resources/webapps/test/
将删除 hadoop-common-project/hadoop-common/target/
将删除 hadoop-common-project/hadoop-kms/hadoop-kms.iml
将删除 hadoop-common-project/hadoop-kms/target/
将删除 hadoop-common-project/hadoop-minikdc/hadoop-minikdc.iml
将删除 hadoop-common-project/hadoop-minikdc/target/
将删除 hadoop-common-project/hadoop-nfs/hadoop-nfs.iml
将删除 hadoop-common-project/hadoop-nfs/target/
将删除 hadoop-common-project/target/
将删除 hadoop-dist/hadoop-dist.iml
将删除 hadoop-dist/target/
将删除 hadoop-hdfs-project/hadoop-hdfs-httpfs/hadoop-hdfs-httpfs.iml
将删除 hadoop-hdfs-project/hadoop-hdfs-httpfs/target/
将删除 hadoop-hdfs-project/hadoop-hdfs-nfs/hadoop-hdfs-nfs.iml
将删除 hadoop-hdfs-project/hadoop-hdfs-nfs/target/
将删除 hadoop-hdfs-project/hadoop-hdfs-project.iml
将删除 hadoop-hdfs-project/hadoop-hdfs/hadoop-hdfs.iml
将删除 hadoop-hdfs-project/hadoop-hdfs/src/contrib/bkjournal/hadoop-hdfs-bkjournal.iml
将删除 hadoop-hdfs-project/hadoop-hdfs/src/contrib/bkjournal/target/
将删除 hadoop-hdfs-project/hadoop-hdfs/target/
将删除 hadoop-hdfs-project/target/
将删除 hadoop-main.iml
将删除 hadoop-mapreduce-project/hadoop-mapreduce-client/hadoop-mapreduce-client-app/hadoop-mapreduce-client-app.iml
将删除 hadoop-mapreduce-project/hadoop-mapreduce-client/hadoop-mapreduce-client-app/target/
将删除 hadoop-mapreduce-project/hadoop-mapreduce-client/hadoop-mapreduce-client-common/hadoop-mapreduce-client-common.iml
将删除 hadoop-mapreduce-project/hadoop-mapreduce-client/hadoop-mapreduce-client-common/target/
将删除 hadoop-mapreduce-project/hadoop-mapreduce-client/hadoop-mapreduce-client-core/hadoop-mapreduce-client-core.iml
将删除 hadoop-mapreduce-project/hadoop-mapreduce-client/hadoop-mapreduce-client-core/target/
将删除 hadoop-mapreduce-project/hadoop-mapreduce-client/hadoop-mapreduce-client-hs-plugins/hadoop-mapreduce-client-hs-plugins.iml
将删除 hadoop-mapreduce-project/hadoop-mapreduce-client/hadoop-mapreduce-client-hs-plugins/target/
将删除 hadoop-mapreduce-project/hadoop-mapreduce-client/hadoop-mapreduce-client-hs/hadoop-mapreduce-client-hs.iml
将删除 hadoop-mapreduce-project/hadoop-mapreduce-client/hadoop-mapreduce-client-hs/target/
将删除 hadoop-mapreduce-project/hadoop-mapreduce-client/hadoop-mapreduce-client-jobclient/hadoop-mapreduce-client-jobclient.iml
将删除 hadoop-mapreduce-project/hadoop-mapreduce-client/hadoop-mapreduce-client-jobclient/target/
将删除 hadoop-mapreduce-project/hadoop-mapreduce-client/hadoop-mapreduce-client-shuffle/hadoop-mapreduce-client-shuffle.iml
将删除 hadoop-mapreduce-project/hadoop-mapreduce-client/hadoop-mapreduce-client-shuffle/target/
将删除 hadoop-mapreduce-project/hadoop-mapreduce-client/hadoop-mapreduce-client.iml
将删除 hadoop-mapreduce-project/hadoop-mapreduce-client/target/
将删除 hadoop-mapreduce-project/hadoop-mapreduce-examples/hadoop-mapreduce-examples.iml
将删除 hadoop-mapreduce-project/hadoop-mapreduce-examples/target/
将删除 hadoop-mapreduce-project/hadoop-mapreduce.iml
将删除 hadoop-mapreduce-project/target/
将删除 hadoop-maven-plugins/hadoop-maven-plugins.iml
将删除 hadoop-maven-plugins/target/
将删除 hadoop-minicluster/hadoop-minicluster.iml
将删除 hadoop-minicluster/target/
将删除 hadoop-project-dist/hadoop-proj
ect-dist.iml
将删除 hadoop-project-dist/target/
将删除 hadoop-project/hadoop-project.iml
将删除 hadoop-project/target/
将删除 hadoop-tools/hadoop-ant/hadoop-ant.iml
将删除 hadoop-tools/hadoop-ant/target/
将删除 hadoop-tools/hadoop-archives/hadoop-archives.iml
将删除 hadoop-tools/hadoop-archives/target/
将删除 hadoop-tools/hadoop-aws/hadoop-aws.iml
将删除 hadoop-tools/hadoop-aws/target/
将删除 hadoop-tools/hadoop-azure/hadoop-azure.iml
将删除 hadoop-tools/hadoop-azure/target/
将删除 hadoop-tools/hadoop-datajoin/hadoop-datajoin.iml
将删除 hadoop-tools/hadoop-datajoin/target/
将删除 hadoop-tools/hadoop-distcp/hadoop-distcp.iml
将删除 hadoop-tools/hadoop-distcp/target/
将删除 hadoop-tools/hadoop-extras/hadoop-extras.iml
将删除 hadoop-tools/hadoop-extras/target/
将删除 hadoop-tools/hadoop-gridmix/hadoop-gridmix.iml
将删除 hadoop-tools/hadoop-gridmix/target/
将删除 hadoop-tools/hadoop-openstack/hadoop-openstack.iml
将删除 hadoop-tools/hadoop-openstack/target/
将删除 hadoop-tools/hadoop-pipes/hadoop-pipes.iml
将删除 hadoop-tools/hadoop-pipes/target/
将删除 hadoop-tools/hadoop-rumen/hadoop-rumen.iml
将删除 hadoop-tools/hadoop-rumen/target/
将删除 hadoop-tools/hadoop-sls/hadoop-sls.iml
将删除 hadoop-tools/hadoop-sls/target/
将删除 hadoop-tools/hadoop-streaming/hadoop-streaming.iml
将删除 hadoop-tools/hadoop-streaming/target/
将删除 hadoop-tools/hadoop-tools-dist/hadoop-tools-dist.iml
将删除 hadoop-tools/hadoop-tools-dist/target/
将删除 hadoop-tools/hadoop-tools.iml
将删除 hadoop-tools/target/
将删除 hadoop-yarn-project/hadoop-yarn-project.iml
将删除 hadoop-yarn-project/hadoop-yarn/hadoop-yarn-api/hadoop-yarn-api.iml
将删除 hadoop-yarn-project/hadoop-yarn/hadoop-yarn-api/target/
将删除 hadoop-yarn-project/hadoop-yarn/hadoop-yarn-applications/hadoop-yarn-applications-distributedshell/hadoop-yarn-applications-distributedshell.iml
将删除 hadoop-yarn-project/hadoop-yarn/hadoop-yarn-applications/hadoop-yarn-applications-distributedshell/target/
将删除 hadoop-yarn-project/hadoop-yarn/hadoop-yarn-applications/hadoop-yarn-applications-unmanaged-am-launcher/hadoop-yarn-applications-unmanaged-am-launcher.iml
将删除 hadoop-yarn-project/hadoop-yarn/hadoop-yarn-applications/hadoop-yarn-applications-unmanaged-am-launcher/target/
将删除 hadoop-yarn-project/hadoop-yarn/hadoop-yarn-applications/hadoop-yarn-applications.iml
将删除 hadoop-yarn-project/hadoop-yarn/hadoop-yarn-applications/target/
将删除 hadoop-yarn-project/hadoop-yarn/hadoop-yarn-client/hadoop-yarn-client.iml
将删除 hadoop-yarn-project/hadoop-yarn/hadoop-yarn-client/target/
将删除 hadoop-yarn-project/hadoop-yarn/hadoop-yarn-common/hadoop-yarn-common.iml
将删除 hadoop-yarn-project/hadoop-yarn/hadoop-yarn-common/target/
将删除 hadoop-yarn-project/hadoop-yarn/hadoop-yarn-registry/hadoop-yarn-registry.iml
将删除 hadoop-yarn-project/hadoop-yarn/hadoop-yarn-registry/target/
将删除 hadoop-yarn-project/hadoop-yarn/hadoop-yarn-server/hadoop-yarn-server-applicationhistoryservice/hadoop-yarn-server-applicationhistoryservice.iml
将删除 hadoop-yarn-project/hadoop-yarn/hadoop-yarn-server/hadoop-yarn-server-applicationhistoryservice/target/
将删除 hadoop-yarn-project/hadoop-yarn/hadoop-yarn-server/hadoop-yarn-server-common/hadoop-yarn-server-common.iml
将删除 hadoop-yarn-project/hadoop-yarn/hadoop-yarn-server/hadoop-yarn-server-common/target/
将删除 hadoop-yarn-project/hadoop-yarn/hadoop-yarn-server/hadoop-yarn-server-nodemanager/hadoop-yarn-server-nodemanager.iml
将删除 hadoop-yarn-project/hadoop-yarn/hadoop-yarn-server/hadoop-yarn-server-nodemanager/target/
将删除 hadoop-yarn-project/hadoop-yarn/hadoop-yarn-server/hadoop-yarn-server-resourcemanager/hadoop-yarn-server-resourcemanager.iml
将删除 hadoop-yarn-project/hadoop-yarn/hadoop-yarn-server/hadoop-yarn-server-resourcemanager/target/
将删除 hadoop-yarn-project/hadoop-yarn/hadoop-yarn-server/hadoop-yarn-server-sharedcachemanager/hadoop-yarn-server-sharedcachemanager.iml
将删除 hadoop-yarn-project/hadoop-yarn/hadoop-yarn-server/hadoop-yarn-server-sharedcachemanager/target/
将删除 hadoop-yarn-project/hadoop-yarn/hadoop-yarn-server/hadoop-yarn-server-tests/hadoop-yarn-server-tests.iml
将删除 hadoop-yarn-project/hadoop-yarn/hadoop-yarn-server/hadoop-yarn-server-tests/target/
将删除 hadoop-yarn-project/hadoop-yarn/hadoop-yarn-server/hadoop-yarn-server-web-proxy/hadoop-yarn-server-web-proxy.iml
将删除 hadoop-yarn-project/hadoop-yarn/hadoop-yarn-server/hadoop-yarn-server-web-proxy/target/
将删除 hadoop-yarn-project/hadoop-yarn/hadoop-yarn-server/hadoop-yarn-server.iml
将删除 hadoop-yarn-project/hadoop-yarn/hadoop-yarn-server/target/
将删除 hadoop-yarn-project/hadoop-yarn/hadoop-yarn-site/hadoop-yarn-site.iml
将删除 hadoop-yarn-project/hadoop-yarn/hadoop-yarn-site/target/
将删除 hadoop-yarn-project/hadoop-yarn/hadoop-yarn.iml
将删除 hadoop-yarn-project/hadoop-yarn/target/
将删除 hadoop-yarn-project/target/
